@model AddNewsItemViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col mx-auto">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto text-center">
                <h2>Добавление новости</h2>
            </div>
            <div class="col">
                <form class=""enctype="multipart/form-data" asp-action="Add" asp-controller="News" method="post">
                    <div class="col-sm-12 col-md-8 col-lg-6 form-group text-center mx-auto">
                        <label asp-for="Title"></label>
                        <input class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title"></span>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-6 form-group text-center mx-auto">
                        <label asp-for="Text"></label>
                        <textarea class="form-control" asp-for="Text"></textarea>
                        <span asp-validation-for="Title"></span>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-6 form-group text-center mx-auto">
                        <label asp-for="Pictures"></label>
                        <input class="form-control" asp-for="Pictures" multiple accept="image/*" />
                        <span asp-validation-for="Pictures"></span>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-6 form-group text-center mx-auto">
                        <input class="form-control btn btn-success" type="submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>